<p id="notice"><%= notice %></p>
<main class="container page-main">
    <%= link_to 'New Post', new_post_path, class: "btn btn-outline-primary" %>
    <br/>
    <br/>
    <section class="row">
        <% @posts.each do |post| %>
        <section class="col-4" style="margin-top: 10px;">
            <section class="card">
                    <%= image_tag post.post_image.thumb.url %>
                <article class="card-block image-caption"><%= post.caption%></article>
            </section>
        </section>
        <% end %>
    </section>
</main>
